.kbw-hint {
  border-radius: 3px !important;
  border: solid 1px red !important;
  position: absolute !important;
  font-weight: bold !important;
  text-align: center !important;
  letter-spacing: 1px !important;
  -webkit-box-shadow: none !important;
  width: auto !important;
  line-height: 14px !important;
  font-size: 14px !important;
  padding: 0px 3px !important;
  margin: 0 !important;
  background: yellow !important;
  color: red !important;
  z-index: 99999 !important;
  opacity: 1 !important;
  font-style: normal !important;
}
